/* -*- tab-width: 4; indent-tabs-mode: t -*- */

body {
	margin: 0;
}

#input {
	width: 100%;
	height: 32em;
	margin: 0;
	box-sizing: border-box;
	display: block;
}

#img {
	width: 100%;
	display: block;
}
